<!doctype html>
<html>
  <head>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Chat-Hub</title>
  </head>
  <body>
    <div id='userWrap' class='login-block'>
      <h1>Enter username: </h1>
      <form id='usernameForm'>
        <input id="username" autocomplete="off" required/>&nbsp;<button>Submit</button>
        </form>
    </div>
    <script src="/js/jquery-min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
  </body>
</html>
